In [24]:
import pandas as pd

In [31]:
# I have multiple columns and mujhe kisi bhi column ka koi bhi row change karna h
df=pd.read_csv("data.csv")

print("before changing:-")
print(df)

print("after changing:-")
# jiska city 'B' hai usko 'D' krna h
for i in range(len(df)):
    if df.loc[i, 'city'] == 'B':
        df.loc[i, 'city'] = 'D'

print(df)

before changing:-
       Name    Age city
0     Alice   25.0    A
1       Bob   30.0    B
2   Charlie   35.0    C
3     sagar   12.0  NaN
4     yadav  134.0    B
5       Bob   30.0    B
6     sagar   12.0    B
7       NaN   90.0    X
8     yadav  134.0    B
9     rahul    NaN    B
10    suraj    NaN    A
after changing:-
       Name    Age city
0     Alice   25.0    A
1       Bob   30.0    D
2   Charlie   35.0    C
3     sagar   12.0  NaN
4     yadav  134.0    D
5       Bob   30.0    D
6     sagar   12.0    D
7       NaN   90.0    X
8     yadav  134.0    D
9     rahul    NaN    D
10    suraj    NaN    A

In [32]:
# jiska city 'D' hai uska name 'akash' kar do

df.loc[df['city'] == 'D', 'Name'] = 'akash'

# Show updated DataFrame
print(df)

       Name    Age city
0     Alice   25.0    A
1     akash   30.0    D
2   Charlie   35.0    C
3     sagar   12.0  NaN
4     akash  134.0    D
5     akash   30.0    D
6     akash   12.0    D
7       NaN   90.0    X
8     akash  134.0    D
9     akash    NaN    D
10    suraj    NaN    A

In [ ]:
"""
You want to fill missing values in your CSV where:
Numerical columns (Age) â†’ fill with average (mean)
Categorical columns (Name, city) â†’ fill with most frequent value (mode)
"""

def handle_missing_values(data):
    for col in data.columns:
        if data[col].dtype in ['int64', 'float64']:
            # Numerical column: fill with mean
            mean_value  = df[col].mean()
            df[col].fillna(mean_value)
        else:
            # Categorical column: fill with mode or "None"
            mode_value = df[col].mode()[0] if not df[col].mode().empty else "None"
            df[col].fillna(mode_value)
    return df

handle_missing_values(df)

print(df)

       Name         Age city
0     Alice   25.000000    A
1     akash   30.000000    D
2   Charlie   35.000000    C
3     sagar   12.000000    D
4     akash  134.000000    D
5     akash   30.000000    D
6     akash   12.000000    D
7     akash   90.000000    X
8     akash  134.000000    D
9     akash   55.777778    D
10    suraj   55.777778    A


ðŸŸ¦ 1. Label Encoding
I. Converts categorical values into numeric labels (0, 1, 2, â€¦).
II. Each category gets a unique integer.
III. Output is a single column with numeric values.
IV. Used for ordinal data (where order matters, e.g., Low < Medium < High).
V. May cause issues for nominal data because the model might assume an order.
VI. Example:
Color â†’ Red = 0, Blue = 1, Green = 2
Education Level â†’ Primary = 0, Secondary = 1, Graduate = 2

=> Use Label Encoding when categories have order.


ðŸŸ© 2. One Hot Encoding

I. Converts categorical values into binary vectors (0/1).
II. Each unique category becomes a separate column.
III. The category present is marked as 1, others as 0.
IV. Used for nominal data (where no order exists, e.g., color, gender).
V. Avoids false order but increases the number of columns (dimensionality).
VI. Example:
Color â†’
Red = [1, 0, 0]
Blue = [0, 1, 0]
Green = [0, 0, 1]
Gender â†’ Male = [1, 0], Female = [0, 1]


=> Use One Hot Encoding when categories have no order.